@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #101010;
  /* color: white; */
}
.bgr {
  background-color: hsl(0, 0%, 12%);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.19);
  height: calc(100vh - 120px);
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
}

.connect_button button {
  padding: 15px 20px;
  background: #0baab5;
  box-shadow: 0px 4px 10px rgba(76.5, 76.5, 255, 0.2);
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin:10px 10px ;
  width: 250px;
  height:40px;
}
/* Media queries for responsiveness */
@media (max-width: 768px) { /* Tablet view */
  .connect_button button {
    font-size: 13px; /* Adjust font size for tablet view */
    height: 30px;
    width:200px /* Further reduce height for tablet */
  }
}

@media (max-width: 480px) { /* Mobile view */
  .connect_button button {
    width:150px;
    padding: 8px 12px; /* Adjust padding for mobile */
    font-size: 12px; /* Adjust font size for mobile view */
    height: 25px; /* Smallest height for mobile */
  }
}