@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #101010;
  /* color: white; */
}
.bgr {
  background-color: hsl(0, 0%, 12%);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.19);
  height: calc(100vh - 120px);
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
}

.connect_button button {
  padding: 15px 20px;
  background: linear-gradient(136deg, #2873e2 48%, #23c9c9 100%);
  box-shadow: 0px 4px 10px rgba(76.50, 76.50, 255, 0.20);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}